/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #0056b3; /* Azul estilo Decathlon */
    color: #fff;
    padding: 20px 20px;
    border-bottom: #39ff14 3px solid; /* Verde fosforito */
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .logo a {
    font-size: 30px;
    font-weight: bold;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #39ff14; /* Verde fosforito */
    font-weight: bold;
}

header a:hover {
    color: #39ff14; /* Verde fosforito */
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#showcase p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Main Content */
main {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main h1 {
    margin-bottom: 20px;
    color: #0056b3; /* Azul estilo Decathlon */
}

main p {
    margin-bottom: 20px;
}

/* Welcome Section */
.welcome {
    text-align: center;
    padding: 50px 50px;
    background: #fff; /* Light blue background */
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome h1 {
    font-size: 36px;
    color: #0056b3; /* Azul estilo Decathlon */
    margin-bottom: 20px;
}

.welcome h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.welcome img {
    max-width: 200px;
    margin-top: 20px;
}

/* Features Section */
.features {
    padding: 50px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features h2 {
    text-align: center;
    color: #0056b3; /* Azul estilo Decathlon */
    margin-bottom: 40px;
}

.feature-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #0056b3;
}

.feature-box h3 {
    color: chartreuse; /* Azul estilo Decathlon */
    margin-bottom: 10px;
}

.feature-box p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

form legend {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0056b3; /* Azul estilo Decathlon */
}

form label {
    margin-right: 10px;;
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s ease;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="date"]:focus,
form input[type="number"]:focus,
form select:focus {
    border: 1px solid #0056b3; /* Azul estilo Decathlon */
}

form input[type="submit"] {
    background: #0056b3; /* Azul estilo Decathlon */
    color: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: #39ff14; /* Verde fosforito */
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Button Styles */
button {
    background: #0056b3; /* Azul estilo Decathlon */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #39ff14; /* Verde fosforito */
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}